<!-- <section>
  <h2>Agregar tarea</h2>
  <input type="text" placeholder="Titulo de tarea?" >
</section>
<section class="todo-list">
  <h2>Lista de tareas</h2>
  <ul>
    <li>
      <input type="checkbox">
      <input type="text" placeholder="Titulo de la tarea...">
      <button>Eliminar</button>
    </li>
    <li>
      <input type="checkbox">
      <input type="text" placeholder="Titulo de la tarea...">
      <button>Eliminar</button>
    </li>
    <li>
      <input type="checkbox">
      <input type="text" placeholder="Titulo de la tarea...">
      <button>Eliminar</button>
    </li>
  </ul>  
</section> -->
<router-outlet></router-outlet>
